@model IEnumerable<LiveExam.BAL.PositionModel>

@if (Request.IsAuthenticated)
{
    <style>
        .container2 {
            background: linear-gradient(to bottom,#b0c8e0 0%,#fff 25%);
        }

        thead {
            background-color: #3d6b9c;
            color: white;
        }
    </style>
    <div>
        <button type="button" class="btn navbar-btn">
            <i class="fa fa-home" aria-hidden="true">
                @Html.ActionLink("Home", "Index", null, new { style = "text-decoration:none;" })
            </i>
        </button>
        <a style="margin-top:5px;" class="pull-right " href="@Url.Action("AddPositionNewRecord", "Home", null)">
            <img src="~/Content/Images/icon_addb.png" style="vertical-align: middle; width: 30px; " />
        </a>

    </div>

    <div class="container bg-info img-rounded">
        <div class="card text-center">
            <h2 class="card-title">Position Records</h2>
        </div>
    </div>

    <div class="container container2">
        <br />
        <table class="table table-striped table-hover table-bordered" id="AllPosData">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TIMEMINUTES)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISACTIVE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Technology.TechnologyName)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TIMEMINUTES)
                        </td>
                        <td>
                            @(item.ISACTIVE != null && item.ISACTIVE.Value ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Technology.TechnologyName)
                        </td>
                        <td>
                            <a href="@Url.Action("EditPosition", "Home", new { id = item.ID })">
                                <img src="@Url.Content("~/Content/Images/edit.png")" />
                            </a>
                            &nbsp;
                            <a href="@Url.Action("GetSinglePositionData", "Home", new { id = item.ID })">
                                <img src="@Url.Content("~/Content/Images/view.png")" />
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<script>
    $(document).ready(function () {
        //console.log($('#lstCandidate').length)
        $('#AllPosData').DataTable();
    })
</script>